<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yxw.dao.BookInfoMapper" >
  <resultMap id="BaseResultMap" type="com.yxw.pojo.BookInfo" >
    <id column="book_id" property="bookId" jdbcType="INTEGER" />
    <result column="book_code" property="bookCode" jdbcType="VARCHAR" />
    <result column="book_name" property="bookName" jdbcType="VARCHAR" />
    <result column="book_type" property="bookType" jdbcType="VARCHAR" />
    <result column="book_author" property="bookAuthor" jdbcType="VARCHAR" />
    <result column="publish_press" property="publishPress" jdbcType="VARCHAR" />
    <result column="publish_date" property="publishDate" jdbcType="DATE" />
    <result column="is_borrow" property="isBorrow" jdbcType="INTEGER" />
    <result column="createBy" property="createby" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="last_updatetime" property="lastUpdatetime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    book_id, book_code, book_name, book_type, book_author, publish_press, publish_date, 
    is_borrow, createBy, create_time, last_updatetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from book_info
    where book_id = #{bookId,jdbcType=INTEGER}
  </select>

  <select id="selectAllBooks" resultMap="BaseResultMap" >
    select
    book_id,
    book_code,
    book_name,
    bt.type_name AS book_type,
    book_author,
    publish_press,
    publish_date,
    is_borrow,
    createBy,
    create_time,
    last_updatetime
    from book_info
    left join book_type bt on book_info.book_type = bt.id
  </select>

  <select id="selectfuzzySearch" resultMap="BaseResultMap" >
    select
    book_id,
    book_code,
    book_name,
    bt.type_name AS book_type,
    book_author,
    publish_press,
    publish_date,
    is_borrow,
    createBy,
    create_time,
    last_updatetime
    from book_info
    left join book_type bt on book_info.book_type = bt.id
    <where>
      <if test="bookType!=null and bookType!=''">
        AND book_type=#{bookType}
      </if>
      <if test="isBorrow!=null and isBorrow!=''">
        AND is_borrow=#{isBorrow}
      </if>
      <if test="bookName!=null and bookName!=''">
        AND book_name like concat('%',#{bookName},'%')
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from book_info
    where book_id = #{bookId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yxw.pojo.BookInfo" >
    insert into book_info (book_id, book_code, book_name, 
      book_type, book_author, publish_press, 
      publish_date, is_borrow, createBy, 
      create_time, last_updatetime)
    values (#{bookId,jdbcType=INTEGER}, #{bookCode,jdbcType=VARCHAR}, #{bookName,jdbcType=VARCHAR}, 
      #{bookType,jdbcType=VARCHAR}, #{bookAuthor,jdbcType=VARCHAR}, #{publishPress,jdbcType=VARCHAR}, 
      #{publishDate,jdbcType=DATE}, #{isBorrow,jdbcType=INTEGER}, #{createby,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=DATE}, #{lastUpdatetime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.yxw.pojo.BookInfo" >
    insert into book_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bookId != null" >
        book_id,
      </if>
      <if test="bookCode != null" >
        book_code,
      </if>
      <if test="bookName != null" >
        book_name,
      </if>
      <if test="bookType != null" >
        book_type,
      </if>
      <if test="bookAuthor != null" >
        book_author,
      </if>
      <if test="publishPress != null" >
        publish_press,
      </if>
      <if test="publishDate != null" >
        publish_date,
      </if>
      <if test="isBorrow != null" >
        is_borrow,
      </if>
      <if test="createby != null" >
        createBy,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastUpdatetime != null" >
        last_updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bookId != null" >
        #{bookId,jdbcType=INTEGER},
      </if>
      <if test="bookCode != null" >
        #{bookCode,jdbcType=VARCHAR},
      </if>
      <if test="bookName != null" >
        #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="bookType != null" >
        #{bookType,jdbcType=VARCHAR},
      </if>
      <if test="bookAuthor != null" >
        #{bookAuthor,jdbcType=VARCHAR},
      </if>
      <if test="publishPress != null" >
        #{publishPress,jdbcType=VARCHAR},
      </if>
      <if test="publishDate != null" >
        #{publishDate,jdbcType=DATE},
      </if>
      <if test="isBorrow != null" >
        #{isBorrow,jdbcType=INTEGER},
      </if>
      <if test="createby != null" >
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="lastUpdatetime != null" >
        #{lastUpdatetime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yxw.pojo.BookInfo" >
    update book_info
    <set >
      <if test="bookCode != null" >
        book_code = #{bookCode,jdbcType=VARCHAR},
      </if>
      <if test="bookName != null" >
        book_name = #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="bookType != null" >
        book_type = #{bookType,jdbcType=VARCHAR},
      </if>
      <if test="bookAuthor != null" >
        book_author = #{bookAuthor,jdbcType=VARCHAR},
      </if>
      <if test="publishPress != null" >
        publish_press = #{publishPress,jdbcType=VARCHAR},
      </if>
      <if test="publishDate != null" >
        publish_date = #{publishDate,jdbcType=DATE},
      </if>
      <if test="isBorrow != null" >
        is_borrow = #{isBorrow,jdbcType=INTEGER},
      </if>
      <if test="createby != null" >
        createBy = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="lastUpdatetime != null" >
        last_updatetime = #{lastUpdatetime,jdbcType=DATE},
      </if>
    </set>
    where book_id = #{bookId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yxw.pojo.BookInfo" >
    update book_info
    set book_code = #{bookCode,jdbcType=VARCHAR},
      book_name = #{bookName,jdbcType=VARCHAR},
      book_type = #{bookType,jdbcType=VARCHAR},
      book_author = #{bookAuthor,jdbcType=VARCHAR},
      publish_press = #{publishPress,jdbcType=VARCHAR},
      publish_date = #{publishDate,jdbcType=DATE},
      is_borrow = #{isBorrow,jdbcType=INTEGER},
      createBy = #{createby,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE},
      last_updatetime = #{lastUpdatetime,jdbcType=DATE}
    where book_id = #{bookId,jdbcType=INTEGER}
  </update>
</mapper>